body {
    text-align: center;
    background-color: lightskyblue;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 8px solid black;
    margin: 1.0rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.aqua {
    background-color: aqua;
}

.flash {
    background-color: aliceblue;
}

.userflash {
    background-color: darkblue;
}